{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% trans 'Moderator' %}</title>

    {% block styles %}
    {% endblock %}

    {% block head %}
    {% endblock %}

</head>
<body class="{% block wrapper_class %}{% endblock %}{% if debug %} _debug{% endif %}">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="content-wrapper">
        <div class="content">
            {% block content %}
            {% load moderator_filters %}
            {% for app in apps %}
                {{ app }}
                <br>

                <ul>
                {% for model in apps|get_item:app %}
					{{ apps|get_item:app|get_item:model|get_item:'verbose_name' }}
                    <li>
						<a href="{% url 'moderator:pending-list-'|add:model %}">{{ apps|get_item:app|get_item:model|get_item:'pending' }} {% trans "Pending" %}</a>
                        <a href="{% url 'moderator:approved-list-'|add:model %}">{{ apps|get_item:app|get_item:model|get_item:'approved' }} {% trans "Approved" %}</a>
                        <a href="{% url 'moderator:rejected-list-'|add:model %}">{{ apps|get_item:app|get_item:model|get_item:'rejected' }} {% trans "Rejected" %}</a>
                    </li>
					<br />
                {% endfor %}
                </ul>

                <hr>
            {% endfor %}
            {% endblock %}

			{% block moderate %}
			{% endblock %}
        </div>
    </div>
</body>
</html>
