{% extends "moderator/index.html" %}

{% load i18n %}
{% load static %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}

{% block moderate %}
	<form id="moderation-form" method="POST">
		{% csrf_token %}
		<textarea name="reason"></textarea> <br />
		<button name="approve">{% trans 'Approve' %}</button>
		<button name="reject">{% trans 'Reject' %}</button>
		<input type="hidden" id="approved" value="False"></input>
	</form>

	<script type="text/javascript">
        csrfSafeMethod = function (method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        };

		$(function() {
			$('[name=approve]').click(function() {
				$('#approved').val('True');
			});
			$('[name=reject]').click(function() {
				$('#approved').val('False');
			});
			$('#moderation-form').submit(function(event) {
				var fd = new FormData(this);
				fd.append('approved', $('#approved').val());
				$.ajax({
					url: '',
					type: 'POST',
					data: fd,
					processData: false,
					contentType: false,
						{% comment %}
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type)) {
							xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
						}
					},
					{% endcomment %}
					success: function (data, textStatus, jqXHR) {
						console.log(data);
						location.href = '{% url "moderator:pending-list" %}';
					},
					error: function(jqXHR, textStatus, errorThrown) {
						console.log(textStatus);
						console.log(jqXHR);
						console.log(errorThrown);
					}
				});

				event.preventDefault();
			});
		});
	</script>
{% endblock %}
